/* This is a CSS style sheet that defines the layout and appearance of a webpage. */

body {
  /* This sets the margin of the body element to 0, removing any default spacing. */
  margin: 0;
  /* This sets the background color of the body element to dark gray. */
  background: darkgray;
  /* This sets the overflow property of the body element to hidden, which hides any content that overflows the element's boundaries. */
  overflow: hidden;
  /* This sets the display property of the body element to flex, which its children elements align in a row. */
  display: flex;
  /* This sets the justify-content property of the body element to center, which centers its children elements horizontally. */
  justify-content: center;
  /* This sets the align-items property of the body element to center, which centers its children elements vertically. */
  align-items: center;
}

/* This is a CSS class selector for elements with the id "verticalButtons". */
#verticalButtons {
  /* This sets the display property of the elements to flex, which makes its children elements align in a column. */
  display: flex;
  /* This sets the flex-direction property of the elements to column, which aligns its children elements vertically. */
  flex-direction: column;
}

/* This is a CSS class selector for button elements. */
button {
  /* This sets the border property of the button elements to none, removing any default border. */
  border: none;
  /* This sets the border-radius property of the button elements to 5px, giving them rounded corners. */
  border-radius: 5px;
  /* This sets the padding property of the button elements to 5px 5px 7px 5px, adding space around the content. */
  padding: 5px 5px 7px 5px;
  /* This sets the margin property of the button elements to 2px, adding space around the elements. */
  margin: 2px;
  /* This sets the cursor property of the button elements to pointer, changing the cursor to a hand when hovering over them. */
  cursor: pointer;
}

/* This is a pseudo-class selector for button elements when they are being hovered over. */
button:hover {
  /* This sets the background color of the button elements to blue when they are being hovered over. */
  background: blue;
}

/* This is a CSS id selector for an element with the id "networkCanvas". */
#networkCanvas {
  /* This sets the background color of the element to black. */
  background: black;
}

/* This is a CSS id selector for an element with the id "carCanvas". */
#carCanvas {
  /* This sets the background color of the element to light gray. */
  background: lightgray;
}
